In [45]:
import pandas as pd
import pickle
import numpy as np

In [46]:
df = pickle.load(open('dataset2.pkl','rb'))

In [47]:
df

# The below features are required
# batting_team
# bowling team
# city
# current score
# ball left
# wickets left
# current rr
# last five

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [48]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [49]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2969
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [50]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [51]:
cities

array(['Melbourne', 'Melbourne', 'Melbourne', ..., 'Colombo', 'Colombo',
       'Colombo'], dtype=object)

In [52]:
df['city'] = cities

In [53]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [54]:
df.drop(columns=['venue'],inplace=True)

In [55]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo
122,964,Sri Lanka,Australia,19.4,0,0,Colombo
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
124,964,Sri Lanka,Australia,19.6,2,0,Colombo
125,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [56]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [57]:
df = df[df['city'].isin(eligible_cities)]

In [58]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo
122,964,Sri Lanka,Australia,19.4,0,0,Colombo
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
124,964,Sri Lanka,Australia,19.6,2,0,Colombo
125,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [59]:
print(df['runs'].dtype)

int64

In [60]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\190681986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [62]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo,125
122,964,Sri Lanka,Australia,19.4,0,0,Colombo,125
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
124,964,Sri Lanka,Australia,19.6,2,0,Colombo,127
125,964,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [63]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\2777558413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\2777558413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5
...,...,...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3
122,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5
124,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6
125,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7

In [66]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\562775579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117
122,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5,119
124,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120
125,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121

In [67]:
df['balls_left'] = 120 - df['balls_bowled']

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\1770127845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']

In [68]:
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\3511862288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117,3
122,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118,2
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5,119,1
124,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120,0
125,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121,0

In [69]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_left'] = 10 - df['player_dismissed']

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\3929200049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\3929200049.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\3929200049.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\3929200049.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [71]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2
122,964,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2
123,964,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1
124,964,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1
125,964,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1

In [72]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\914577034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [73]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256
122,964,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932
123,964,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521
124,964,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000
125,964,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107

In [83]:
df['runs'].unique()

array([0, 1, 2, 3, 4, 6, 7, 5], dtype=int64)

In [88]:
df['runs'] = pd.to_numeric(df['runs'], errors='coerce')
groups = df.groupby('match_id')
match_ids = df['match_id'].unique()
last_five = []


#for id in match_ids:
 #   rolling_sums = groups.get_group(id)['runs'].rolling(window=30).sum()
  #  last_five.extend(rolling_sums.dropna().values.tolist())  

for id in match_ids:
    last_five.extend(groups.get_group(id)['runs'].rolling(window=30).sum().values.tolist())

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\3851151098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runs'] = pd.to_numeric(df['runs'], errors='coerce')

In [90]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [91]:
df['last_five'] = last_five

C:\Users\N I T R O V15\AppData\Local\Temp\ipykernel_7008\1595651733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [92]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000,NaN
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000,NaN
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000,NaN
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000,NaN
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256,32.0
122,964,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932,32.0
123,964,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521,32.0
124,964,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000,33.0
125,964,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107,32.0

In [93]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [94]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [95]:
final_df.dropna(inplace=True)

In [96]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [97]:
final_df = final_df.sample(final_df.shape[0])

In [98]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
50245,Bangladesh,India,Mirpur,113,35,5,7.976471,49.0,120
38624,Sri Lanka,England,London,43,85,8,7.371429,34.0,183

In [99]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [100]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
33760,West Indies,Australia,Colombo,60,70,8,7.200000,41.0
48161,India,Bangladesh,Bangalore,83,43,8,6.467532,35.0
10344,India,Bangladesh,Nagpur,70,61,8,7.118644,40.0
41038,Sri Lanka,West Indies,Mirpur,108,28,6,7.043478,37.0
28514,New Zealand,Pakistan,Hamilton,185,0,3,9.250000,68.0
...,...,...,...,...,...,...,...,...
36037,Australia,Pakistan,Dubai,40,74,8,5.217391,28.0
41137,South Africa,India,Mirpur,73,54,8,6.636364,28.0
10827,New Zealand,England,Auckland,119,67,8,13.471698,51.0
2286,England,New Zealand,Hamilton,57,78,8,8.142857,35.0
34762,West Indies,New Zealand,Lauderhill,208,1,8,10.487395,73.0

In [102]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.1-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\n i t r o v15\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\n i t r o v15\anaconda3\lib\site-packages (from xgboost) (1.11.4)
Downloading xgboost-2.1.1-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB 279.3 kB/s eta 0:07:28
   ---------------------------------------- 0.1/124.9 MB 525.1 kB/s eta 0:03:58
   ---------------------------------------- 0.2/124.9 MB 958.4 kB/s eta 0:02:11
   ---------------------------------------- 0.6/124.9 MB 2.2 MB/s eta 0:00:58
    --------------------------------------- 1.8/124.9 MB 6.2 MB/s eta 0:00:20
   - -------------------------------------- 4.3/124.9 MB 12.4 MB/s eta 0:00:10
   - -------------------------------------- 4.9/124.9 MB 14.3 MB/s eta 0:00:09
   -- ------------------------------------- 6.5/124.9 MB 14.8 MB/s eta 0:00:08
   -- ------------------------------------- 6.5/124.9 MB 14.8 MB/s eta 0:00:08
   --- ------------------------------------ 9.9/124.9 MB 18.7 MB/s eta 0:00:07
   --- ------------------------------------ 11.4/124.9 MB 36.3 MB/s eta 0:00:04
   ---- ----------------------------------- 12.5/124.9 MB 34.4 MB/s eta 0:00:04
   ---- ----------------------------------- 12.5/124.9 MB 34.4 MB/s eta 0:00:04
   ---- ----------------------------------- 14.4/124.9 MB 28.5 MB/s eta 0:00:04
   ---- ----------------------------------- 15.0/124.9 MB 25.2 MB/s eta 0:00:05
   ----- ---------------------------------- 16.3/124.9 MB 27.3 MB/s eta 0:00:04
   ------ --------------------------------- 19.8/124.9 MB 34.4 MB/s eta 0:00:04
   ------ --------------------------------- 21.0/124.9 MB 31.2 MB/s eta 0:00:04
   ------- -------------------------------- 22.1/124.9 MB 29.7 MB/s eta 0:00:04
   ------- -------------------------------- 23.8/124.9 MB 34.4 MB/s eta 0:00:03
   -------- ------------------------------- 25.2/124.9 MB 34.4 MB/s eta 0:00:03
   -------- ------------------------------- 26.8/124.9 MB 36.4 MB/s eta 0:00:03
   -------- ------------------------------- 27.4/124.9 MB 31.2 MB/s eta 0:00:04
   -------- ------------------------------- 28.0/124.9 MB 27.3 MB/s eta 0:00:04
   --------- ------------------------------ 28.7/124.9 MB 25.1 MB/s eta 0:00:04
   --------- ------------------------------ 29.4/124.9 MB 23.4 MB/s eta 0:00:05
   --------- ------------------------------ 29.8/124.9 MB 21.8 MB/s eta 0:00:05
   --------- ------------------------------ 30.6/124.9 MB 21.1 MB/s eta 0:00:05
   --------- ------------------------------ 31.1/124.9 MB 19.3 MB/s eta 0:00:05
   ---------- ----------------------------- 31.5/124.9 MB 19.3 MB/s eta 0:00:05
   ---------- ----------------------------- 31.8/124.9 MB 17.7 MB/s eta 0:00:06
   ---------- ----------------------------- 32.1/124.9 MB 16.4 MB/s eta 0:00:06
   ---------- ----------------------------- 32.4/124.9 MB 16.0 MB/s eta 0:00:06
   ---------- ----------------------------- 32.9/124.9 MB 14.9 MB/s eta 0:00:07
   ---------- ----------------------------- 33.2/124.9 MB 14.2 MB/s eta 0:00:07
   ---------- ----------------------------- 33.6/124.9 MB 13.4 MB/s eta 0:00:07
   ---------- ----------------------------- 33.9/124.9 MB 12.9 MB/s eta 0:00:08
   ---------- ----------------------------- 34.1/124.9 MB 12.6 MB/s eta 0:00:08
   ----------- ---------------------------- 34.4/124.9 MB 11.7 MB/s eta 0:00:08
   ----------- ---------------------------- 34.8/124.9 MB 11.5 MB/s eta 0:00:08
   ----------- ---------------------------- 35.1/124.9 MB 10.9 MB/s eta 0:00:09
   ----------- ---------------------------- 35.5/124.9 MB 10.6 MB/s eta 0:00:09
   ----------- ---------------------------- 36.0/124.9 MB 10.1 MB/s eta 0:00:09
   ----------- ---------------------------- 36.5/124.9 MB 9.9 MB/s eta 0:00:09
   ----------- ---------------------------- 36.9/124.9 MB 9.5 MB/s eta 0:00:10
   ------------ --------------------------- 37.5/124.9 MB 9.5 MB/s eta 0:00:10
   ------------ --------------------------- 38.0/124.9 MB 9.5 MB/s eta 0:00:10
   ------------ --------------------------- 38.4/124.9 MB 9.2 MB/s eta 0:00:10
   ------------ --------------------------- 38.9/124.9 MB 9.2 MB/s eta 0:00:10
   ------------ --------------------------- 39.3/124.9 MB 9.0 MB/s eta 0:00:10
   ------------ --------------------------- 39.8/124.9 MB 9.0 MB/s eta 0:00:10
   ------------ --------------------------- 40.3/124.9 MB 9.0 MB/s eta 0:00:10
   ------------- -------------------------- 40.7/124.9 MB 8.8 MB/s eta 0:00:10
   ------------- -------------------------- 41.2/124.9 MB 8.7 MB/s eta 0:00:10
   ------------- -------------------------- 41.8/124.9 MB 8.8 MB/s eta 0:00:10
   ------------- -------------------------- 42.2/124.9 MB 9.2 MB/s eta 0:00:09
   ------------- -------------------------- 42.8/124.9 MB 9.4 MB/s eta 0:00:09
   ------------- -------------------------- 43.3/124.9 MB 9.5 MB/s eta 0:00:09
   -------------- ------------------------- 43.9/124.9 MB 9.8 MB/s eta 0:00:09
   -------------- ------------------------- 44.4/124.9 MB 10.2 MB/s eta 0:00:08
   -------------- ------------------------- 45.0/124.9 MB 10.4 MB/s eta 0:00:08
   -------------- ------------------------- 45.5/124.9 MB 10.9 MB/s eta 0:00:08
   -------------- ------------------------- 46.0/124.9 MB 10.9 MB/s eta 0:00:08
   -------------- ------------------------- 46.6/124.9 MB 10.9 MB/s eta 0:00:08
   --------------- ------------------------ 47.1/124.9 MB 10.9 MB/s eta 0:00:08
   --------------- ------------------------ 47.7/124.9 MB 11.1 MB/s eta 0:00:07
   --------------- ------------------------ 48.2/124.9 MB 11.1 MB/s eta 0:00:07
   --------------- ------------------------ 48.7/124.9 MB 11.1 MB/s eta 0:00:07
   --------------- ------------------------ 49.3/124.9 MB 11.3 MB/s eta 0:00:07
   --------------- ------------------------ 49.9/124.9 MB 11.5 MB/s eta 0:00:07
   ---------------- ----------------------- 50.5/124.9 MB 11.7 MB/s eta 0:00:07
   ---------------- ----------------------- 51.0/124.9 MB 11.7 MB/s eta 0:00:07
   ---------------- ----------------------- 51.6/124.9 MB 11.7 MB/s eta 0:00:07
   ---------------- ----------------------- 52.2/124.9 MB 11.9 MB/s eta 0:00:07
   ---------------- ----------------------- 52.7/124.9 MB 11.9 MB/s eta 0:00:07
   ----------------- ---------------------- 53.3/124.9 MB 11.9 MB/s eta 0:00:07
   ----------------- ---------------------- 53.8/124.9 MB 12.1 MB/s eta 0:00:06
   ----------------- ---------------------- 54.4/124.9 MB 12.1 MB/s eta 0:00:06
   ----------------- ---------------------- 54.9/124.9 MB 11.9 MB/s eta 0:00:06
   ----------------- ---------------------- 55.5/124.9 MB 12.1 MB/s eta 0:00:06
   ----------------- ---------------------- 56.1/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------ --------------------- 56.7/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------ --------------------- 57.3/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------ --------------------- 57.8/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------ --------------------- 58.4/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------ --------------------- 59.0/124.9 MB 12.4 MB/s eta 0:00:06
   ------------------- -------------------- 59.5/124.9 MB 12.4 MB/s eta 0:00:06
   ------------------- -------------------- 60.0/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------- -------------------- 60.6/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------- -------------------- 61.1/124.9 MB 12.1 MB/s eta 0:00:06
   ------------------- -------------------- 61.5/124.9 MB 11.9 MB/s eta 0:00:06
   ------------------- -------------------- 62.0/124.9 MB 11.9 MB/s eta 0:00:06
   -------------------- ------------------- 62.5/124.9 MB 11.7 MB/s eta 0:00:06
   -------------------- ------------------- 63.1/124.9 MB 11.9 MB/s eta 0:00:06
   -------------------- ------------------- 63.7/124.9 MB 11.9 MB/s eta 0:00:06
   -------------------- ------------------- 64.3/124.9 MB 11.9 MB/s eta 0:00:06
   -------------------- ------------------- 64.7/124.9 MB 11.9 MB/s eta 0:00:06
   -------------------- ------------------- 65.4/124.9 MB 11.9 MB/s eta 0:00:06
   --------------------- ------------------ 66.0/124.9 MB 11.9 MB/s eta 0:00:05
   --------------------- ------------------ 66.4/124.9 MB 11.7 MB/s eta 0:00:05
   --------------------- ------------------ 67.0/124.9 MB 11.7 MB/s eta 0:00:05
   --------------------- ------------------ 67.7/124.9 MB 11.7 MB/s eta 0:00:05
   --------------------- ------------------ 68.3/124.9 MB 11.9 MB/s eta 0:00:05
   ---------------------- ----------------- 68.9/124.9 MB 11.9 MB/s eta 0:00:05
   ---------------------- ----------------- 69.5/124.9 MB 11.9 MB/s eta 0:00:05
   ---------------------- ----------------- 70.1/124.9 MB 12.1 MB/s eta 0:00:05
   ---------------------- ----------------- 70.8/124.9 MB 12.1 MB/s eta 0:00:05
   ---------------------- ----------------- 71.3/124.9 MB 12.4 MB/s eta 0:00:05
   ----------------------- ---------------- 72.0/124.9 MB 12.6 MB/s eta 0:00:05
   ----------------------- ---------------- 72.6/124.9 MB 12.8 MB/s eta 0:00:05
   ----------------------- ---------------- 73.3/124.9 MB 12.8 MB/s eta 0:00:05
   ----------------------- ---------------- 73.9/124.9 MB 13.1 MB/s eta 0:00:04
   ----------------------- ---------------- 74.5/124.9 MB 13.1 MB/s eta 0:00:04
   ------------------------ --------------- 75.2/124.9 MB 13.4 MB/s eta 0:00:04
   ------------------------ --------------- 75.9/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------ --------------- 76.5/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------ --------------- 77.1/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------ --------------- 77.8/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------- -------------- 78.3/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------- -------------- 78.9/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------- -------------- 79.5/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------- -------------- 80.2/124.9 MB 13.6 MB/s eta 0:00:04
   ------------------------- -------------- 80.8/124.9 MB 13.6 MB/s eta 0:00:04
   -------------------------- ------------- 81.5/124.9 MB 13.6 MB/s eta 0:00:04
   -------------------------- ------------- 82.2/124.9 MB 13.9 MB/s eta 0:00:04
   -------------------------- ------------- 82.9/124.9 MB 13.9 MB/s eta 0:00:04
   -------------------------- ------------- 83.5/124.9 MB 13.9 MB/s eta 0:00:03
   -------------------------- ------------- 83.9/124.9 MB 13.9 MB/s eta 0:00:03
   --------------------------- ------------ 84.6/124.9 MB 13.6 MB/s eta 0:00:03
   --------------------------- ------------ 85.3/124.9 MB 13.6 MB/s eta 0:00:03
   --------------------------- ------------ 86.0/124.9 MB 13.6 MB/s eta 0:00:03
   --------------------------- ------------ 86.7/124.9 MB 13.6 MB/s eta 0:00:03
   --------------------------- ------------ 87.4/124.9 MB 13.9 MB/s eta 0:00:03
   ---------------------------- ----------- 88.1/124.9 MB 13.9 MB/s eta 0:00:03
   ---------------------------- ----------- 88.7/124.9 MB 13.9 MB/s eta 0:00:03
   ---------------------------- ----------- 89.4/124.9 MB 13.9 MB/s eta 0:00:03
   ---------------------------- ----------- 90.0/124.9 MB 13.9 MB/s eta 0:00:03
   ----------------------------- ---------- 90.8/124.9 MB 14.2 MB/s eta 0:00:03
   ----------------------------- ---------- 91.4/124.9 MB 14.2 MB/s eta 0:00:03
   ----------------------------- ---------- 92.2/124.9 MB 14.2 MB/s eta 0:00:03
   ----------------------------- ---------- 92.8/124.9 MB 14.2 MB/s eta 0:00:03
   ----------------------------- ---------- 93.6/124.9 MB 14.6 MB/s eta 0:00:03
   ------------------------------ --------- 94.2/124.9 MB 14.9 MB/s eta 0:00:03
   ------------------------------ --------- 95.0/124.9 MB 14.9 MB/s eta 0:00:03
   ------------------------------ --------- 95.3/124.9 MB 14.2 MB/s eta 0:00:03
   ------------------------------ --------- 95.9/124.9 MB 14.2 MB/s eta 0:00:03
   ------------------------------ --------- 96.7/124.9 MB 14.2 MB/s eta 0:00:02
   ------------------------------- -------- 97.4/124.9 MB 14.2 MB/s eta 0:00:02
   ------------------------------- -------- 98.2/124.9 MB 14.5 MB/s eta 0:00:02
   ------------------------------- -------- 98.9/124.9 MB 14.6 MB/s eta 0:00:02
   ------------------------------- -------- 99.7/124.9 MB 14.6 MB/s eta 0:00:02
   ------------------------------- ------- 100.4/124.9 MB 14.9 MB/s eta 0:00:02
   ------------------------------- ------- 101.2/124.9 MB 14.9 MB/s eta 0:00:02
   ------------------------------- ------- 101.9/124.9 MB 14.9 MB/s eta 0:00:02
   -------------------------------- ------ 102.6/124.9 MB 14.9 MB/s eta 0:00:02
   -------------------------------- ------ 103.3/124.9 MB 14.9 MB/s eta 0:00:02
   -------------------------------- ------ 104.1/124.9 MB 14.9 MB/s eta 0:00:02
   -------------------------------- ------ 104.8/124.9 MB 14.9 MB/s eta 0:00:02
   -------------------------------- ------ 105.5/124.9 MB 15.6 MB/s eta 0:00:02
   --------------------------------- ----- 106.2/124.9 MB 16.0 MB/s eta 0:00:02
   --------------------------------- ----- 107.0/124.9 MB 16.0 MB/s eta 0:00:02
   --------------------------------- ----- 107.7/124.9 MB 16.0 MB/s eta 0:00:02
   --------------------------------- ----- 108.5/124.9 MB 16.0 MB/s eta 0:00:02
   ---------------------------------- ---- 109.3/124.9 MB 16.0 MB/s eta 0:00:01
   ---------------------------------- ---- 109.9/124.9 MB 16.0 MB/s eta 0:00:01
   ---------------------------------- ---- 110.7/124.9 MB 16.0 MB/s eta 0:00:01
   ---------------------------------- ---- 111.4/124.9 MB 16.0 MB/s eta 0:00:01
   ----------------------------------- --- 112.3/124.9 MB 16.0 MB/s eta 0:00:01
   ----------------------------------- --- 113.0/124.9 MB 16.0 MB/s eta 0:00:01
   ----------------------------------- --- 113.7/124.9 MB 16.0 MB/s eta 0:00:01
   ----------------------------------- --- 114.4/124.9 MB 16.0 MB/s eta 0:00:01
   ----------------------------------- --- 115.1/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------ -- 115.9/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------ -- 116.6/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------ -- 117.4/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------ -- 118.0/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------- - 118.8/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------- - 119.5/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------- - 120.3/124.9 MB 16.0 MB/s eta 0:00:01
   ------------------------------------- - 120.9/124.9 MB 15.6 MB/s eta 0:00:01
   --------------------------------------  121.7/124.9 MB 16.0 MB/s eta 0:00:01
   --------------------------------------  122.2/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------  123.0/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------  123.7/124.9 MB 15.6 MB/s eta 0:00:01
   --------------------------------------  124.3/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 15.2 MB/s eta 0:00:01
   --------------------------------------- 124.9/124.9 MB 11.5 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-2.1.1

In [103]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [104]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [105]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [106]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

c:\Users\N I T R O V15\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9886079542106064
1.5816866652633446

In [107]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [73]:
import xgboost
xgboost.__version__

'1.4.2'